nav{
    background-color: rgb(160, 33, 160);
    border-radius: 7px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    margin-bottom: 20px;
}
.links{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: rgb(240, 123, 240);
    padding: 10px;
    margin: 0px 15px;
}

.links:hover{
    color: hotpink;
    background-color: rgb(238, 130, 238, 0.2);
    border-radius: 8px;
    padding: 10px;
}